//======= VARIABLES
@use "variables" as vars; //GLOBAL VARIABLES

/**-------------**/
/** GRIEF & GUIDANCE SECTION */
.GriefGuidance {
  padding: 80px 10%;
  background-color: vars.$mainColor;

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .text-content {
      flex: 1 1 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 60px;
      color: white;

      .header-section {
        font-family: vars.$header-text;

        .header {
          font-weight: bolder;
          font-size: 40px;
          font-size: clamp(30px, 5vw, 40px);
        }

        .sub-title {
          font-size: clamp(15px, 1.5vw, 16px);
          font-family: vars.$secondary-text;
        }
      }

      .description {
        font-size: clamp(15px, 1.8vw, 18px);
        font-family: vars.$secondary-text;
        opacity: 0.85;
        max-width: 700px;
        line-height: 1.8;
        margin: 20px 0;
      }

      .learnMore {
        width: 30%;
        margin: 15px 0;
        max-width: 180px;
        padding: 10px 0;
        border-radius: 5px;
        border: none;
        font-size: clamp(14px, 1.5vw, 16px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
        font-weight: bold;
        font-family: vars.$header-text;
        background-color: vars.$buttonColor;

        transition: background-color 0.3s ease;
        &:hover {
          background-color: vars.$buttonHover;
        }
      }
    }

    .img-wrapper {
      flex: 1 1 400px;
      display: flex;
      justify-content: center;
      height: clamp(20rem, 5vw + 20rem, 25rem);
      padding-top: 20px;

      .img {
        width: 100%;
        height: 95%;
        border-radius: 10px;
        background: url("/src/imgs/GriefGuidance.png") center center / cover
          no-repeat;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 0px 4%;

    .content {
      flex-direction: column;
      gap: 10px;
      .text-content {
        margin-top: -20px;
        padding-left: 3.5%;
      }
    }
  }
}
