//======= VARIABLES
@use "variables" as vars; //GLOBAL VARIABLES

/**-------------**/
/** TESTIMONIALS SECTION */
.Testimonials {
  background-color: vars.$mainColor;

  padding: 40px 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;

  .header-section {
    font-family: vars.$header-text;

    .header {
      font-weight: bolder;
      font-size: clamp(30px, 5vw, 40px);
    }

    .sub-header {
      font-size: clamp(15px, 1.5vw, 16px);
      font-family: vars.$secondary-text;
    }
  }

  .content {
    padding: 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;

    .left-Arrow {
      background: url("/src/imgs/leftArrow2.png") center center/cover;

      width: 2.5rem;
      height: 2.5rem;
      min-width: 40px;
      border: none;
      border-radius: 10%;
    }

    .text-content {
      .testimonial {
        font-size: clamp(14px, 2vw, 20px);
        font-family: vars.$secondary-text;
        opacity: 0.8;
      }

      .author {
        font-family: vars.$secondary-text;
        font-size: clamp(12px, 1.5vw, 16px);
      }
    }

    .right-Arrow {
      background: url("/src/imgs/rightArrow2.png") center center/cover;

      width: 2.5rem;
      min-width: 40px;
      height: 2.5rem;
      border: none;
      border-radius: 10%;
    }

    @media (max-width: 1024px) {
      padding: 20px 10px;
    }
  }

  .indicators {
    margin-top: 20px;
    padding: 8px 10px;
    gap: 15px;
    border-radius: 10px;
    width: 30%;

    display: flex;
    justify-content: center;

    button {
      min-width: 0 !important;
      height: 12px !important;

      border-radius: 50%;
      border: none;

      transition: opacity 0.3s ease, box-shadow 0.3s ease;

      background-color: #f0f0f09d;

      &.active {
        opacity: 1;
        background-color: #ffffff;
        box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.7);
      }
    }
  }
}
