/** GLOBAL VARIABLES **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=PT+Serif:wght@400;700&display=swap");

//---- MAIN COLORING ---\\
$mainColor: #491313;
$accentColor: #692a2a;
$accentColor2: #a72f2f;
$accentColor2_hidden: #a72f2f54;
$accentWhite: #e9e9e9;
$boxColor: #cfcfcf;
//
$buttonColor: #db4444;
$buttonHover: #991b1b;
//
$header-text: "PT Serif", serif;
$secondary-text: "Open Sans", sans-serif;

//---- CUSTOM COLORING ---\\
// $mainColor: #134917;
// $accentColor: #2a6938;
// $accentColor2: #2fa743;
// $accentColor2_hidden: #2fa73954;
// $accentWhite: #e9e9e9;
// $boxColor: #cfcfcf;
// //
// $buttonColor: #44db71;
// $buttonHover: #1b9921;
